<% content_for :styles do %>

    <!-- Bootstrap -->
    <%= stylesheet_link_tag    'dist/css/bootstrap.min'%>
    <!-- Font Awesome -->
    <%= stylesheet_link_tag    'css/font-awesome.min' %>
    <!-- NProgress -->
    <%= stylesheet_link_tag    'nprogress' %>  

    <!-- Custom Theme Style -->
    <%= stylesheet_link_tag    'application-theme/css/custom.min' %>
  
<% end %>

<div class="col-md-12">
  <div class="col-middle">
    <div class="text-center text-center">
      <h1 class="error-number">403</h1>
      <h2>Access denied</h2>
      <p>Full authentication is required to access this resource. <a href="#">Report this?</a>
      </p>
      <div class="mid_center">
        <h3>Search</h3>
        <form>
          <div class="  form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                  </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>

  <!-- jQuery -->
  <%= javascript_include_tag 'dist/jquery.min' %>
  <!-- Bootstrap -->
  <%= javascript_include_tag 'dist/js/bootstrap.bundle.min' %>
  <!-- FastClick -->
  <%= javascript_include_tag 'lib/fastclick' %>
  <!-- NProgress -->
  <%= javascript_include_tag 'nprogress' %>

  <!-- Custom Theme Scripts -->
  <%= javascript_include_tag 'js/custom.min' %>
  
<% end %>