<!DOCTYPE html>
<html>
  <head>
    <title>Personal Erp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application',  media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :styles %>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- page content -->
          <%= yield %>
        <!-- /page content -->
      </div>
    </div>

    <%= yield :scripts %>

  </body>
</html>